/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

/* Common container styles */
.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

/* Header Styles */
header {
  background-color: #42b983; /* Updated to green */
  padding: 10px 0;
  color: white;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 150px;
  height: auto;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  margin-top: 80px;
  padding: 20px;
}

/* Header styling with Add buttons */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  color: #42b983;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-add {
  background-color: #42b983;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #379672;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 15px;
  text-align: left;
  font-size: 1rem;
}

th {
  background-color: #42b983;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
}

td {
  border-bottom: 1px solid #ddd;
  color: #333;
}

td:last-child {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-in-out;
}

/* Links and button styles */
a,
button {
  color: #42b983;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}

button:hover,
a:hover {
  text-decoration: underline;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #42b983;
  font-size: 1.5rem;
}

.modal-content p {
  margin-bottom: 20px;
  color: #333;
  font-size: 1.1rem;
}

.modal-content button {
  background-color: #42b983;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.modal-content button:last-child {
  background-color: #e74c3c;
}

.modal-content button:hover {
  opacity: 0.9;
}

/* Search Input Styles */
.search-input {
  padding: 12px 10px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
}

.search-input:hover {
  border-color: #42b983;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  border-color: #42b983;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
